In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/merged.csv')

In [3]:
df.head()

,dimensions,num_beds,num_baths,house_type,city,location,area_block,price,unique_id,View,...,Business Center,Laundry Facility,Jacuzzi,Steam Room,Day Care Center,First Aid Medical Center,Shared Kitchen,ATM Facility,Facilities for Disabled,Sauna
0,2055.0,4,4,Apartment,Dhaka,Bashundhara R-A,Block D,35000.0,5237946,1,...,0,0,0,0,0,0,0,0,0,0
1,1911.0,3,3,Apartment,Dhaka,Bashundhara R-A,Block A,45000.0,3875341,1,...,0,0,0,0,0,0,0,0,0,0
2,1200.0,3,3,Apartment,Dhaka,Bashundhara R-A,Block K,20000.0,5182996,1,...,0,0,0,0,0,0,0,0,0,0
3,1910.0,3,3,Apartment,Dhaka,Bashundhara R-A,Block A,45000.0,3875358,0,...,0,0,0,0,0,0,0,0,0,0
4,800.0,2,2,Apartment,Dhaka,Bashundhara R-A,Block G,18000.0,3651253,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df['location'].value_counts()

Mirpur             7935
Uttara             2731
Bashundhara R-A    1542
Dhanmondi           981
Gulshan             226
Name: location, dtype: int64

In [5]:
# df = df[ df['location'].isin(['Uttara', 'Bashundhara R-A', 'Dhanmondi']) ]

# Data Preprocessing

In [6]:
df.drop(['house_type', 'city', 'location', 'unique_id', 'area_block'], axis=1, inplace=True)

In [7]:
df.head()

,dimensions,num_beds,num_baths,price,View,Floor Level,Balcony or Terrace,Flooring,Parking Spaces,Elevators in Building,...,Business Center,Laundry Facility,Jacuzzi,Steam Room,Day Care Center,First Aid Medical Center,Shared Kitchen,ATM Facility,Facilities for Disabled,Sauna
0,2055.0,4,4,35000.0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1911.0,3,3,45000.0,1,1,1,1,1,3,...,0,0,0,0,0,0,0,0,0,0
2,1200.0,3,3,20000.0,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1910.0,3,3,45000.0,0,1,1,1,1,3,...,0,0,0,0,0,0,0,0,0,0
4,800.0,2,2,18000.0,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

# Feature Selection

In [8]:
df.shape

(13415, 41)

In [9]:
df.columns

Index(['dimensions', 'num_beds', 'num_baths', 'price', 'View', 'Floor Level',
       'Balcony or Terrace', 'Flooring', 'Parking Spaces',
       'Elevators in Building', '24 Hours Concierge', 'Double Glazed Windows',
       'Freehold', 'Waste Disposal', 'Lobby in Building', 'Electricity Backup',
       'Intercom', 'CCTV Security', 'Maintenance Staff', 'Swimming Pool',
       'Storage Areas', 'Barbeque Area', 'Cleaning Services',
       'Service Elevators', 'Cafeteria or Canteen', 'Broadband Internet',
       'Central Heating', 'Lawn or Garden', 'Furnished', 'Prayer Room',
       'Conference Room', 'Business Center', 'Laundry Facility', 'Jacuzzi',
       'Steam Room', 'Day Care Center', 'First Aid Medical Center',
       'Shared Kitchen', 'ATM Facility', 'Facilities for Disabled', 'Sauna'],
      dtype='object')

In [10]:
df = df[ ['dimensions', 'num_beds', 'num_baths', 'price', 'View', 'Floor Level',
       'Balcony or Terrace', 'Flooring', 'Parking Spaces',
       'Elevators in Building', '24 Hours Concierge', 'Double Glazed Windows',
       'Freehold', 'Waste Disposal', 'Lobby in Building', 'Electricity Backup',
       'Intercom', 'CCTV Security', 'Maintenance Staff', 'Swimming Pool',
       'Storage Areas', 'Barbeque Area', 'Cleaning Services',
       'Service Elevators', 'Cafeteria or Canteen', 'Broadband Internet',
       'Central Heating', 'Lawn or Garden', 'Furnished', 'Prayer Room',
       'Conference Room', 'Business Center', 'Laundry Facility', 'Jacuzzi',
       'Steam Room', 'Day Care Center', 'First Aid Medical Center',
       'Shared Kitchen', 'ATM Facility', 'Facilities for Disabled', 'Sauna'] ].copy()
df = df.drop_duplicates()

In [11]:
df.shape

(8857, 41)

In [12]:
feature_col = ['dimensions', 'num_beds', 'num_baths', 'View', 'Floor Level',
       'Balcony or Terrace', 'Flooring', 'Parking Spaces',
       'Elevators in Building', '24 Hours Concierge', 'Double Glazed Windows',
       'Freehold', 'Waste Disposal', 'Lobby in Building', 'Electricity Backup',
       'Intercom', 'CCTV Security', 'Maintenance Staff', 'Swimming Pool',
       'Storage Areas', 'Barbeque Area', 'Cleaning Services',
       'Service Elevators', 'Cafeteria or Canteen', 'Broadband Internet',
       'Central Heating', 'Lawn or Garden', 'Furnished', 'Prayer Room',
       'Conference Room', 'Business Center', 'Laundry Facility', 'Jacuzzi',
       'Steam Room', 'Day Care Center', 'First Aid Medical Center',
       'Shared Kitchen', 'ATM Facility', 'Facilities for Disabled', 'Sauna']
target_col = ['price']

X = df[feature_col].copy()
y = df[target_col].copy()

# One Hot Encoding

In [13]:
# X = pd.get_dummies(X, prefix='area_block')

In [14]:
X.head()

,dimensions,num_beds,num_baths,View,Floor Level,Balcony or Terrace,Flooring,Parking Spaces,Elevators in Building,24 Hours Concierge,...,Business Center,Laundry Facility,Jacuzzi,Steam Room,Day Care Center,First Aid Medical Center,Shared Kitchen,ATM Facility,Facilities for Disabled,Sauna
0,2055.0,4,4,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1911.0,3,3,1,1,1,1,1,3,0,...,0,0,0,0,0,0,0,0,0,0
2,1200.0,3,3,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1910.0,3,3,0,1,1,1,1,3,0,...,0,0,0,0,0,0,0,0,0,0
4,800.0,2,2,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0

# Feature Scaling

In [15]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X = scaler.fit_transform(X)

# XGBoost Regressor (Base)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
from xgboost import XGBRegressor

regressor = XGBRegressor()

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [19]:
regressor.fit(X_train, y_train, early_stopping_rounds=10, eval_metric='mae', eval_set=[(X_test, y_test)])

[0]	validation_0-mae:16731.91211
[1]	validation_0-mae:11839.68555
[2]	validation_0-mae:8549.93066
[3]	validation_0-mae:6484.90478
[4]	validation_0-mae:5334.58398
[5]	validation_0-mae:4781.47510
[6]	validation_0-mae:4517.76709
[7]	validation_0-mae:4390.16943
[8]	validation_0-mae:4350.05029
[9]	validation_0-mae:4358.93359
[10]	validation_0-mae:4345.42188
[11]	validation_0-mae:4353.72852
[12]	validation_0-mae:4361.59277
[13]	validation_0-mae:4369.58984
[14]	validation_0-mae:4352.09375
[15]	validation_0-mae:4347.37012
[16]	validation_0-mae:4343.84912
[17]	validation_0-mae:4353.10742
[18]	validation_0-mae:4360.32031
[19]	validation_0-mae:4362.43848
[20]	validation_0-mae:4346.70166
[21]	validation_0-mae:4339.44873
[22]	validation_0-mae:4338.58057
[23]	validation_0-mae:4339.71680
[24]	validation_0-mae:4338.64355
[25]	validation_0-mae:4328.58057
[26]	validation_0-mae:4329.31006
[27]	validation_0-mae:4313.85449
[28]	validation_0-mae:4319.50586
[29]	validation_0-mae:4308.08740
[30]	validation_0-mae:4312.02490
[31]	validation_0-mae:4313.46484
[32]	validation_0-mae:4314.75000
[33]	validation_0-mae:4314.36182
[34]	validation_0-mae:4304.67529
[35]	validation_0-mae:4294.39990
[36]	validation_0-mae:4294.42285
[37]	validation_0-mae:4292.74561
[38]	validation_0-mae:4293.22070
[39]	validation_0-mae:4295.55371
[40]	validation_0-mae:4294.51270
[41]	validation_0-mae:4296.64014
[42]	validation_0-mae:4303.36230
[43]	validation_0-mae:4301.05078
[44]	validation_0-mae:4300.37939
[45]	validation_0-mae:4302.03857
[46]	validation_0-mae:4297.78125

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=12, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [20]:
y_pred = regressor.predict(X_test)

# Evaluation Metrics (Base)

In [21]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np 

print("Mean Absolute Error: ",mean_absolute_error(y_test,y_pred))
print("Mean Squared Error",mean_squared_error(y_test,y_pred))
print("Root MSE",np.sqrt(mean_squared_error(y_test,y_pred)))
print("RMS Log Error",np.log(np.sqrt(mean_squared_error(y_test,y_pred))))

r2 = r2_score(y_test,y_pred)
print("R Squared Error: ", r2)

scores = {}
scores['Base'] = {'Mean Absolute Error': mean_absolute_error(y_test,y_pred),
#                   'Mean Squared Error':mean_squared_error(y_test,y_pred),
                  'Root MSE':np.sqrt(mean_squared_error(y_test,y_pred)),
                  'RMS Log Error':np.log(np.sqrt(mean_squared_error(y_test,y_pred))),
                  'R Squared Error':r2_score(y_test,y_pred),
                 }

Mean Absolute Error:  4292.74578314581
Mean Squared Error 81570229.7008039
Root MSE 9031.623868430523
RMS Log Error 9.108487460634462
R Squared Error:  0.8092095921076392

# Hyper Parameter Tuning

In [22]:
from sklearn.model_selection import RandomizedSearchCV

In [23]:
params = {
    'learning_rate': [0.05, 0.1, 0.15, 0.2, 0.25, 0.3],
    'max_depth': [3, 4, 5, 6, 8, 10, 12, 15],
    'min_child_weight': [1, 3, 5, 7],
    'gamma': [0, 0.1, 0.2, 0.3, 0.4],
    'colsample_bytree': [0.3, 0.4, 0.5, 0.7]
}

In [24]:
regressor = XGBRegressor(verbosity=0)

random_search = RandomizedSearchCV(regressor, param_distributions=params, n_iter=5, scoring='neg_mean_squared_error', n_jobs=-1, cv=5, verbose=3)

In [25]:
random_search.fit(X, y)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

RandomizedSearchCV(cv=5,
                   estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None, gamma=None,
                                          gpu_id=None, importance_type='gain',
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,
                                          monotone_constraints=None,
                                          n_estimators=100, n...
                                          reg_lambda=None,
                                          scale_pos_weight=None, subsample=None,
                                          tree_method=None,
                                          validate_parameters=None,
                                          verbosity=0),
                   n_iter=5, n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.3, 0.4, 0.5,
                                                             0.7],
                                        'gamma': [0, 0.1, 0.2, 0.3, 0.4],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2,
                                                          0.25, 0.3],
                                        'max_depth': [3, 4, 5, 6, 8, 10, 12,
                                                      15],
                                        'min_child_weight': [1, 3, 5, 7]},
                   scoring='neg_mean_squared_error', verbose=3)

In [26]:
random_search.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.5, gamma=0.3, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.2, max_delta_step=0, max_depth=4,
             min_child_weight=3, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=12, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=0)

In [27]:
regressor = XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.4, gamma=0.4, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.15, max_delta_step=0, max_depth=4,
             min_child_weight=5, monotone_constraints='()',
             n_estimators=100, n_jobs=12, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=0)

In [28]:
regressor.fit(X_train, y_train, early_stopping_rounds=10, eval_metric='mae', eval_set=[(X_test, y_test)])

[0]	validation_0-mae:20244.04102
[1]	validation_0-mae:17258.64453
[2]	validation_0-mae:14659.92285
[3]	validation_0-mae:12487.95606
[4]	validation_0-mae:10703.76172
[5]	validation_0-mae:9227.05664
[6]	validation_0-mae:8120.88770
[7]	validation_0-mae:7297.17285
[8]	validation_0-mae:6764.02100
[9]	validation_0-mae:6208.54443
[10]	validation_0-mae:5870.90381
[11]	validation_0-mae:5564.97900
[12]	validation_0-mae:5407.25195
[13]	validation_0-mae:5236.77295
[14]	validation_0-mae:5129.73291
[15]	validation_0-mae:5088.40625
[16]	validation_0-mae:5009.68311
[17]	validation_0-mae:4997.90625
[18]	validation_0-mae:4984.49023
[19]	validation_0-mae:4987.42432
[20]	validation_0-mae:4951.90674
[21]	validation_0-mae:4941.76904
[22]	validation_0-mae:4932.73730
[23]	validation_0-mae:4933.66162
[24]	validation_0-mae:4944.81103
[25]	validation_0-mae:4932.57422
[26]	validation_0-mae:4929.65478
[27]	validation_0-mae:4916.62109
[28]	validation_0-mae:4905.20752
[29]	validation_0-mae:4902.02539
[30]	validation_0-mae:4858.16846
[31]	validation_0-mae:4860.58594
[32]	validation_0-mae:4852.72314
[33]	validation_0-mae:4829.80664
[34]	validation_0-mae:4814.36719
[35]	validation_0-mae:4792.29102
[36]	validation_0-mae:4789.91260
[37]	validation_0-mae:4781.90918
[38]	validation_0-mae:4771.68311
[39]	validation_0-mae:4752.38086
[40]	validation_0-mae:4729.91504
[41]	validation_0-mae:4715.61377
[42]	validation_0-mae:4718.15723
[43]	validation_0-mae:4708.18213
[44]	validation_0-mae:4687.87647
[45]	validation_0-mae:4688.59668
[46]	validation_0-mae:4679.18848
[47]	validation_0-mae:4672.20801
[48]	validation_0-mae:4658.47412
[49]	validation_0-mae:4654.62647
[50]	validation_0-mae:4646.33789
[51]	validation_0-mae:4647.15478
[52]	validation_0-mae:4645.96289
[53]	validation_0-mae:4646.71924
[54]	validation_0-mae:4633.57617
[55]	validation_0-mae:4630.00195
[56]	validation_0-mae:4630.93603
[57]	validation_0-mae:4633.17725
[58]	validation_0-mae:4626.54004
[59]	validation_0-mae:4628.14941
[60]	validation_0-mae:4622.80518
[61]	validation_0-mae:4621.04834
[62]	validation_0-mae:4621.05908
[63]	validation_0-mae:4616.95654
[64]	validation_0-mae:4617.64551
[65]	validation_0-mae:4609.19336
[66]	validation_0-mae:4597.98730
[67]	validation_0-mae:4588.83740
[68]	validation_0-mae:4586.64160
[69]	validation_0-mae:4579.66211
[70]	validation_0-mae:4578.95752
[71]	validation_0-mae:4575.17920
[72]	validation_0-mae:4567.57422
[73]	validation_0-mae:4565.87500
[74]	validation_0-mae:4562.87647
[75]	validation_0-mae:4561.14014
[76]	validation_0-mae:4558.36719
[77]	validation_0-mae:4555.70312
[78]	validation_0-mae:4558.58545
[79]	validation_0-mae:4554.18457
[80]	validation_0-mae:4545.65576
[81]	validation_0-mae:4545.19922
[82]	validation_0-mae:4543.56641
[83]	validation_0-mae:4546.62647
[84]	validation_0-mae:4545.77686
[85]	validation_0-mae:4545.93506
[86]	validation_0-mae:4545.69434
[87]	validation_0-mae:4542.76221
[88]	validation_0-mae:4544.82031
[89]	validation_0-mae:4545.12061
[90]	validation_0-mae:4539.48877
[91]	validation_0-mae:4539.01270
[92]	validation_0-mae:4538.55273
[93]	validation_0-mae:4537.74707
[94]	validation_0-mae:4534.41162
[95]	validation_0-mae:4531.74756
[96]	validation_0-mae:4527.80566
[97]	validation_0-mae:4527.24805
[98]	validation_0-mae:4527.24609
[99]	validation_0-mae:4518.22266

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.4, gamma=0.4, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.15, max_delta_step=0, max_depth=4,
             min_child_weight=5, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=12, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=0)

In [29]:
y_pred = regressor.predict(X_test)

# Evaluation Metrics (Tuned)

In [30]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np 

print("Mean Absolute Error: ",mean_absolute_error(y_test,y_pred))
print("Mean Squared Error",mean_squared_error(y_test,y_pred))
print("Root MSE",np.sqrt(mean_squared_error(y_test,y_pred)))
print("RMS Log Error",np.log(np.sqrt(mean_squared_error(y_test,y_pred))))

r2 = r2_score(y_test,y_pred)
print("R Squared Error: ", r2)

scores['Tuned'] = {'Mean Absolute Error': round(mean_absolute_error(y_test,y_pred), 3),
#                   'Mean Squared Error':round(mean_squared_error(y_test,y_pred), 3),
                  'Root MSE':round(np.sqrt(mean_squared_error(y_test,y_pred)), 3),
                  'RMS Log Error':round(np.log(np.sqrt(mean_squared_error(y_test,y_pred))), 3),
                  'R Squared Error':round(r2_score(y_test,y_pred), 3),
                 }

Mean Absolute Error:  4518.222492019963
Mean Squared Error 73433229.24870652
Root MSE 8569.319065637976
RMS Log Error 9.055943552850229
R Squared Error:  0.8282418008064543

In [31]:
eval_df = pd.DataFrame(scores)
eval_df

                            Base     Tuned
Mean Absolute Error  4292.745783  4518.222
Root MSE             9031.623868  8569.319
RMS Log Error           9.108487     9.056
R Squared Error         0.809210     0.828